footer {
    background-color: black;

}

.footercard li {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
}

.footercard h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    margin: 0px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 2rem;

}

.footercard p {
    color: white;
    padding-left: 5%;
    display: none;
}

.footercard ul {
    color: white;
    padding-left: 5%;
}

.footertitle {
    display: none;
}

.footercard li::marker {
    content: ">";
}


i {
    color: rgb(191, 146, 91);
    font-size: 40px;


}

.footercard .fa-brands {
    margin: 10px;
}


.fa-solid {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: left;
    margin-left: -6%;

}








/* makes the footer into 4 columns when over 600px */

@media screen and (min-width: 600px) {
    .footercard {
        float: left;
        width: 25%;
        background-color: black;
        color: white;
        height: 300px;
        display: grid;
    }

    .footercard p {
        visibility: visible;
    }
}