footer {
    background-color: black;

}

.footercard li {
    font-family: 'Poppins', sans-serif;
    color: white;
    list-style: square;
}

.footercard h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    margin: 0px;
    padding-left: 20px;

}

.footercard p {
    color: white;
    padding-left: 20px;
}

.footercard ul li {
    padding: 10px;
}




/* makes the footer into 4 columns when over 600px */

@media screen and (min-width: 600px) {
    .footercard {
        float: left;
        width: 25%;
        background-color: black;
        color: white;
        height: 300px;
        display: grid;
    }
}