.reviewcard {
    height: 37vh;
    width: 90%;
    background-color: white;
    align-self: center;
    /* padding: 10% 5% 10% 5%; */
    position: absolute;



}

.reviewcard img {
    width: 7rem;
    height: 7rem;
    margin-left: 5%;


}

.reviewcard .stars {
    color: rgb(191, 146, 91);
}

.reviewcard ul li {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    background-color: white;
    text-align: left;
    margin-left: 1rem;





}

.reviewcard blockquote {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 1rem 1rem 1rem 1rem;


}

.customer {
    color: rgb(191, 146, 91);
}

.reviews {
    background-color: rgb(235 232 222);

}

.reviews .guldrubriker {
    padding-left: 0%;
    padding-top: 20%;
    text-align: center;
    z-index: 1;


}

.reviewcardfooter {
    display: flex;
    align-items: center;
    text-align: left;
}

.reviews h3 {
    font-size: 2rem;
    text-align: center;
    line-height: 1.8rem;
    padding-bottom: 20%;
    margin-bottom: 110%;
    z-index: 1;
}

.wrapperreviews {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(235 232 222);
    padding-bottom: 5%;
    justify-content: center;


}


/* .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
} */